astroid==2.9.0
attrs==21.2.0
colorama==0.4.4
freezegun==1.1.0
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pydantic==1.7.4
pylint==2.12.2
pyparsing==3.0.6
pytest==6.2.5
pytest-mock==3.6.1
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
toml==0.10.2
typing_extensions==4.0.1
wrapt==1.13.3
