attrs==21.2.0
colorama==0.4.4
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.7.3
pydev==0.0.1
pyparsing==3.0.6
pytest==6.2.5
pytest-mock==3.6.1
PyYAML==6.0
toml==0.10.2
